@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');


/*
    font-family: 'Poppins', sans-serif;
*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    font-weight: var(--bold);
    font-size: 20px;
    letter-spacing: 1px;
    background: #20232A;
    color: #61DAFB;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc( 100vh - 160px);
    font-size: 20px;
    color: #f5f5f5;
    background: #282C34;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    font-weight: var(--bold);
    font-size: 20px;
    letter-spacing: 1px;
    background: #20232A;
    color: #61DAFB;
}

/*Father component*/

#contFather{
    width: 250px;
    height: auto;
    padding: 15px 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #61DAFB;
}

#contChildren{
    color: #282C34;
}

/*fin Father component*/

/*DataFather component*/

#contDataFather{
    width: 250px;
    height: auto;
    margin-top: 40px;
    padding: 15px 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #005CC8;
}

#contDataFather p {
    cursor: pointer;
    font-size: 16px;
}

#contDataFather p:first-of-type{
    margin-top: 10px;
}

#contDataFather p:hover{
    color: #282C34;
}

#contDataChildren{
    color: #282C34;
}

/*fin DataFather component*/
